
*{
box-sizing: border-box;

}

section{

	background:url(../img/fondo.jpg);

	background-size: 100vw 100vh;


}
body{

margin:0;
justify-content: flex-end;


}


h1{

	margin-top:2em;
	color : white;
	text-align: center;
	
}
.contenedor{

	width: 65%;
	text-align: center;

	border-radius: 2em;
	margin: 0 auto;
	margin-top: 6em;

}
.contenedor img{

width: 200px;
height: 200px;
margin-top: -3.9em;
margin-bottom: 1.5em;
border-radius: 100px;

}

input{

height: 3em;
width: 70%;
font-size: 1em;
margin-bottom: 2em;
padding-left: 2.1em;
border:none;
border-radius: 15px;

}

.botonlogin{

width: 40%;
padding:1em;
color:white;
cursor: pointer;
border-radius: 5em;
border:none;
background-color:lightblue ;
text-transform: uppercase;
color :black;

}
.recupe{
	text-align:center;
	display: block;
	padding-top: 1.5em;
	padding-bottom:2em;
	
	text-decoration: none;
	text-transform: uppercase;
}


