@charset "utf-8";
/* CSS Document */

 *
{
	border:0;
	margin:0;
	padding:0;
}
body
{

	font-size:14px;
}
fieldsetS{
	background:white;
	border:thin solid skyblue;
	border-radius: 1em;
	padding:1em;
}
form
{
	margin:.5em auto;
	width:80%;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:oblique;
	font-size:14px;
}

input[type="button"]
{
	background:#D4EDEB  ;
	border:thin solid #333;
	border-radius:.5em;
	color:#333;
	cursor:pointer;
	font-size:1em;
	padding:.5em;
}
input[type="button"]:hover
{
	background:skyblue;
	border:thin solid #F93;
	border-radius:0;
	color:#333;
}
input[type="radio"],label
{
	cursor:pointer;
}
input[type="text"],textarea
{
	background:#CCC;
	border:thin solid #333;
	border-radius:0.5em;
	color:#F60;
	font-size:1em;
	padding:.25em;
	
}



legend
{	color:#333;
	font-size:2em;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
}
.cambio
{
	-ms-transition:all 1s ease-in-out;
	-moz-transition:all 1s ease-in-out;
	-o-transition:all 1s ease-in-out;
	-webkit-transition:all 1s ease-in-out;
	transition:all 1s ease-in-out;
}
:focus
{
	box-shadow:.1em .1em .5em rgba(255,102,0,.5);
	outline:thin solid #F60;

}

#cuerpo{
		border-right:4px solid #333;
		border-left:4px solid #333;
		width:99%;
		}


