@charset "utf-8";
/* CSS Document */

#caja{
	background:#FFF;
	width:99%;
	height:475px;
	display:block;
	margin-bottom:5px;
	margin-top:30px;//margen de abajo y arriba
	margin-left:20px;
	border:5px solid #333;
}
#juego1{
	background-color: #FFF;
	width: 29%;
	height: auto;
	display: block;
	float: left;
	margin-top: 20px;
	margin-right: 1px;
	margin-left: 10px;
	color: #000;
	padding-left:10px;
	padding-right:10px;
		
}
#juego2{
	background-color: #FFF;
	width: 30%;
	height:auto;
	float: left;
	margin-top: 20px; //margen de arriba//
	margin-right:1px;
	margin-left: 10px; //margen de adentro
	color: #000;
	padding-left:10px;
	padding-right:10px;
}
#juego3{
	background-color: #FFF;
	width: 30%;
	height: auto;
	display: block;
	float: right;
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	color: #000;
	padding-left:10px;
	padding-right:10px;


}
#caja2{
	background:#FF0;
	width:99%;
	height:47 px;
	display:block;
	margin-bottom:5px;
	margin-top:30px;//margen de abajo y arriba
	margin-left:20px;	
	
}
#juego4{
	background-color: #06C;
	width: 29%;
	height: 430px;
	display: block;
	float: left;
	margin-top: 20px;
	margin-right: 1px;
	margin-left: 10px;
	color: #000;
	padding-left:10px;
	padding-right:10px;
		
}
#juego5{
	background-color: #FFF;
	width: 30%;
	height:450px;
	float: left;
	margin-top: 20px; //margen de arriba//
	margin-right:1px;
	margin-left: 10px; //margen de adentro
	color: #000;
	padding-left:10px;
	padding-right:10px;
}
#juego6{
	background-color: #06C;
	width: 30%;
	height: 450px;
	display: block;
	float: right;
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	color: #000;
	padding-left:10px;
	padding-right:10px;
}
#caja3{
	background:#FFF;
	width:99%;
	height:475px;
	display:block;
	margin-bottom:5px;
	margin-top:30px;//margen de abajo y arriba
	margin-left:20px;
	border:5px solid #333;
	
		
}
#juego7{
	background-color: #FFF;
	width: 29%;
	height: auto;
	display: block;
	float: left;
	margin-top: 20px;
	margin-right: 1px;
	margin-left: 10px;
	color: #000;
	padding-left:10px;
	padding-right:10px;
		
}
#juego8{
	background-color: #FFF;
	width: 30%;
	height:auto;
	float: left;
	margin-top: 20px; //margen de arriba//
	margin-right:1px;
	margin-left: 10px; //margen de adentro
	color: #000;
	padding-left:10px;
	padding-right:10px;
}
#juego9{
	background-color: #FFF;
	width: 30%;
	height: auto;
	display: block;
	float: right;
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	color: #000;
	padding-left:10px;
	padding-right:10px;
}



h2{ 
	font-size: 30px;
	text-align: center;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	color:#000;
}


p{
	text-align:justify;
	font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
	font-size:13px;

}